<!-- 
Spring Mail implementation based on tutorial from:
https://www.mkyong.com/spring/spring-sending-e-mail-via-gmail-smtp-server-with-mailsender/
 -->

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	<property name="host" value="smtp.gmail.com" />
	<property name="port" value="587" />
	<property name="username" value="cse545g10@gmail.com" />
	<property name="password" value="cse545group10" />

	<property name="javaMailProperties">
	   <props>
       	      <prop key="mail.smtp.auth">true</prop>
       	      <prop key="mail.smtp.starttls.enable">true</prop>
       	   </props>
	</property>
</bean>

<bean id="SendOTPByMail" class="com.group10.dao.otp">
	<property name="mailSender" ref="mailSender" />
</bean>

</beans>